body{
	 background:rgba(247,243,243,1.00)center center fixed;
	 -webkit-background-size: cover;
      -moz-background-size: cover;
	  -o-background-size: cover;
	   background-size: cover;
	   opacity: 0.95;
	   
}

.well{
	width: 850px;
	height: auto;
	margin-left: 16%;
	box-shadow: 2px 4px 2px 2px gray;
	margin-top: 2%;
	
}

h1{
	color: rgba(0,0,0,1.00); 
	margin-left: 3%;
	
	
	
}

#content{
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #DFFEDE;
	width: 1210px;
}
#content4{
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #DFFEDE;
	width: 1210px;
	height: 195px;
	
	
}



.content1{
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #DFFEDE;
	width: 1210px;
	height: auto;
	
}
/*table customs*/
table{
	margin-left: 4%;
}
table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
	
}
img{
	margin-left: 25%;
	margin-top: 1%;
	
}


/*bootstrap customs*/

.navbar-inverse{
	background: #E0E4E7;
	border:none;
	font-size: 84%;
	letter-spacing: 1.9px;
	font-family: 'Open Sans Condensed', sans-serif;
	
}
.navbar-brand{
	letter-spacing: 2px;
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#303F9F;
	font-size: 110%;
	
}

.navbar-inverse .navbar-nav>li>a{
	color:black;
}

@media only screen and (max-width: 700px){
	.well{
	width: 387px;
	height: auto;
	margin-left: 6%;
	box-shadow: 2px 4px 2px 2px gray;
	margin-top: 3%;
	}
	#content4{
	width: 421px;
	margin-top: 15%;
	height: 282px;
	}
	
	.content1{
	width: 415px;
	margin-top: 8%;
	}
	.table-data{
		width: 400px;
	}
	table{
	margin-left: 2%;
	
}
	h1{
		font-size: 27px;
	}
	img{
	margin-left: 2.6%;
	margin-top: 1%;
	width: 423px;
}
	
	
}
